@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  z-index: 0; /* or a value that fits your layout */
}

.leaflet-popup {
  z-index: 1000;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 500;
}
